@model DrillSiteManagementPortal.Models.DepthReadingModel

<div>
    <span class="edit">Dip: @Model.Dip </span>
    <span class="edit">Dip: @Model.Dip </span>
    <span class="edit">Azimuth: @Model.Azimuth </span>
    <span class="edit">Trustworthy: @Model.TrustWorthiness </span>
</div>