@model DrillSiteManagementPortal.Models.DrillSiteModel
<div>
    Drill site #@Model.Id
</div>
<div>
    @foreach (var depthReading in Model.DepthReadings)
    {
        @Html.EditorFor(x => depthReading)
    }
</div>