@model List<DrillSiteManagementPortal.Models.DrillSiteModel>
@{
    ViewBag.Title = "DSM";
    ViewBag.Description = "Main Portal";
}

<div>Hello world!</div>
<div>
    @Html.DisplayForModel()
</div>


@section ViewSpecificJavascript {
    <script>
        $(window).on('load', function () {
            $('.edit').editable('save.php');
        });
    </script>
}
