@using HtmlHelper = System.Web.WebPages.Html.HtmlHelper
@model List<DrillSiteManagementPortal.Models.DrillSiteModel>
@{
    ViewBag.Title = "DSM";
    ViewBag.Description = "Main Portal";
}

@* container for drill sites *@
<div id="drill_sites_container">
    @Html.DisplayForModel()
</div>

@* container for depth readings *@
<div id="depth_readings_container">

</div>

@section ViewSpecificJavascript {
    <script>
        $(window).on('load', enableJsEditable());

        function enableJsEditable() {
                $('.editable_fields').editable('save.php');
            }

        $('.drill_site_container').on('click',
            function() {
                // Load data for drill site
                var drillSiteId = this.id;
                $.ajax({
                    method: "GET",
                    url: "../api/DepthReadings/" + drillSiteId,
                    success: function (data) {
                        $('#depth_readings_container').html(""); // clear the readings container
                        data.forEach(function (row) {
                            var reading = JSON.parse(row);
                            var html = GenerateDepthReadingHtml(reading.Id,
                                reading.Dip,
                                reading.Azimuth,
                                reading.IsTrustworthy);
                            $('#depth_readings_container').append(html);
                        });
                        console.log("Ajax successful");
                        enableJsEditable();
                    }
                });
                //
            });

        function GenerateDepthReadingHtml(id, dip, azimuth, isTrustworthy) {
            return '<div id="' + String(id) + '", class="depth_readings_container">'
                + '    <table>'
                + '        <tbody>'
                + '            <tr>'
                + '                <th>Dip: <span class="editable_fields">' + String(dip.toFixed(2)) + "</span>°"
                + '                </th>'
                + '                <th>Azimuth: <span class="editable_fields">' + String(azimuth.toFixed(2)) + "</span>°"
                + '                </th>'
                + '                <th>Trustworthy: <span class="editable_fields">'  + String(isTrustworthy) + "</span>"
                + '                </th>'
                + '            </tr>'
                + '        </tbody>'
                + '    </table>'
                + '</div>';
        }
    </script>
}