@using HtmlHelper = System.Web.WebPages.Html.HtmlHelper
@model List<DrillSiteManagementPortal.Models.DrillSiteModel>
@{
    ViewBag.Title = "DSM";
    ViewBag.Description = "Main Portal";
}

@* container for drill sites  *@
<table id="main_body_content" style="width: 100%;">
    <tbody style="width: 100%;">
        <tr style="width: 100%;">
            <td style="width: 35%; vertical-align: top">
                <center><b>Drill Sites<b></b></b></center>
                <div id="drill_sites_container">
                    @Html.DisplayForModel()
                </div>
            </td>
            <td style="width: 65%; vertical-align:top">
                <div id="depth_readings_container" />
            </td>
        </tr>
    </tbody>
</table>


@section ViewSpecificJavascript {
    <script>
        var currentlyLoadedDrillSiteId = -1;

        $(window).on('load', enableJsEditable());

        function enableJsEditable() {
            // azimuth editable
            $('.editable_azimuth').editable(function(value) {
                sendAjaxPostRequest(this.dataset.drill_site_id, this.id, "azimuth", value );
                },
                {
                    indicator: 'Saving...',
                    tooltip: 'Click to edit...',
                    style: 'inherit',
                    width: ($('.editable_azimuth').width() * 2) + "px",
                });
            // dip editable
            $('.editable_dip').editable(function (value) {
                sendAjaxPostRequest(this.dataset.drill_site_id, this.id, "dip", value);
            },
                {
                    indicator: 'Saving...',
                    tooltip: 'Click to edit...',
                    style: 'inherit',
                    width: ($('.editable_dip').width() * 2) + "px",
                });
            // depth editable
            $('.editable_depth').editable(function (value) {
                sendAjaxPostRequest(this.dataset.drill_site_id, this.id, "depth", value);
            },
                {
                    indicator: 'Saving...',
                    tooltip: 'Click to edit...',
                    style: 'inherit',
                    width: ($('.editable_depth').width() * 2) + "px",
                }); 
        }

        function sendAjaxPostRequest(drillSiteId, readingId, key, value) {
            $('.main_body_content').css('pointer-events:none; width: 100%;');
            var url = '../api/DepthReadings?drillSiteId=' + drillSiteId + '&' + 'readingId=' + readingId + '&' + key + '=' + value;
            $.post(url,
                function (returnedData) {
                    LoadDepthReadings(drillSiteId, true);
                    $('.main_body_content').css('width: 100%;');
                });
        }

        $('.drill_site_container').on('click',
            function() {
                LoadDepthReadings(this.id, false);
            });

        function LoadDepthReadings(drillSiteId, forceLoad) {
            // Load data for drill site
            if (!forceLoad
                && Number.isInteger(currentlyLoadedDrillSiteId)
                && currentlyLoadedDrillSiteId > 0
                && currentlyLoadedDrillSiteId === parseInt(drillSiteId))
                return; // we have already loaded the data for this particular drill site!

            $.ajax({
                method: "GET",
                url: "../api/DepthReadings/" + drillSiteId,
                success: function (data) {
                    // clear the readings container and replace with title
                    $('#depth_readings_container').html("<center><b>Drill Site #" + drillSiteId + "<b></center>");
                    var readingCount = 0;
                    data.forEach(function (row) {
                        readingCount++;
                        var reading = JSON.parse(row);
                        var html = GenerateDepthReadingHtml(
                            readingCount,
                            drillSiteId,
                            reading.Id,
                            reading.Depth,
                            reading.Dip,
                            reading.Azimuth,
                            reading.IsTrustworthy);
                        $('#depth_readings_container').append(html);
                    });
                    enableJsEditable(); // enable JsEditable for newly created html elements
                    currentlyLoadedDrillSiteId = parseInt(drillSiteId);
                }
            });
        }

        function GenerateDepthReadingHtml(readingCount, drillSiteId, id, depth, dip, azimuth, isTrustworthy) {
            var trustWorthyColour = isTrustworthy ? '#aaff9e' : '#fdc8c8;'; // green if trusty, otherwise red 
            return '<div id="' +
                String(id) +
                '", class="depth_readings_container">' +
                '    <table style="width: 100%; background-color:' + trustWorthyColour + '">' +
                '        <tbody>' +
                '            <tr >' +
                '                <th style="width: 8%;">#' + String(readingCount) +'&nbsp;&nbsp;</th>' +               
                '                <th style="width: 30%;">Depth: ' +
                '                    <span style="cursor: pointer; display: inline;" ' +
                '                          data-drill_site_id="' +drillSiteId +'" ' +
                '                          id="' +id +'" class="editable_depth">' +
                                        String(depth.toFixed(4)) + '</span>m' +
                '                </th>' +
                '                <th style="width: 30%;">Dip: ' +
                '                    <span style="cursor: pointer; display: inline;" ' +
                '                          data-drill_site_id="' + drillSiteId + '" ' +
                '                          id="' + id + '" class="editable_dip">' +
                                        String(dip.toFixed(2)) + '</span>°' +
                '                </th>' +
                '                <th style="width: 30%;">Azimuth: ' +
                '                    <span style="cursor: pointer; display: inline;" ' +
                '                          data-drill_site_id="' +drillSiteId +'" ' +
                '                          id="' +id +'" ' +
                '                          class="editable_azimuth">' +
                                        String(azimuth.toFixed(2)) + "</span>°" +
                '                </th>' +
                '            </tr>' +
                '        </tbody>' +
                '    </table>' +
                '</div>';
        }
    </script>
}